/* General body styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

/* Styling for the main container */
div {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Styling for the header */
h2 {
  color: #333;
  text-align: center;
  margin-bottom: 0px;
}

/* Button styling */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

/* Video player styling */
video {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Completed checkmark styling */
span {
  color: #28a745;
  font-weight: bold;
}
